* {
    color: rgb(241, 241, 241);
    background-color: rgb(15, 15, 15);
}

.link {
    color: rgb(62, 166, 255);
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
a:hover {
    text-decoration: double;
}