







/* .header {
    display: flex;
    flex-direction: row;
    background-color: rgb(50,50,50);
    padding: 0;
    margin:0;
    gap:0;
    align-items: center;
}
.left-links {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(50,50,50);
    padding: 1px;
    margin:1px;
    gap:1px;*/