.body {
    display: flex;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: rgb(50,50,50);
    align-items: center;
    height: 75px;
    padding: 8px 20px 8px 20px;
}

.header-subtext {
    display: flex;
    background-color: rgb(50,50,50);
}

.small-image {
    padding-right: 20px;
    width: 5%;
    height: auto;
}

.right-links {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}

.right-links-container {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.line-break {
    display: flex;
    background-color: #eee;
    width: 100%;
    margin: 10px 0px 10px 0px;
    border: none;
    height: 1px;
}

.main-page-container {
    display: flex;
    flex-direction: row;
    padding: 20px 30px 20px 30px;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.text {
    display: flex;
    /* padding: 0px 30px 0px 30px; */
}

.active-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    width: 200px;
}

.complete-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.info-subtext {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.info-box {
    display: flex;
    height: 100px;
    width: 100px;
    border: 2px solid white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

/*
.left-links {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(50,50,50);
    padding: 1px;
    margin:1px;
    gap:1px;*/