* {
	background-color: transparent !important;
}
html,
body {
	background-color: rgb(15, 15, 15) !important;
	width: 100%;
	height: 100%;
	margin: 0%;
}

body {
	display: flex;
	flex-direction: row;
}

#left-bar {
	height: 95%;
	width: 29%;
	border: 1px solid hotpink;
	margin: 1%;
	align-self: center;
	background-color: rgb(30, 30, 30);
	border: 1px solid rgb(40, 40, 40);
	border-radius: 50px;
	transition: all 200ms ease-in-out;
}
#left-bar:hover {
	border: 1px solid rgb(70, 70, 70);
	background-color: rgb(40, 40, 40);
	box-shadow: 10px 10px 10px 10px black;
	border-radius: 60px;
}

#name-input-form {
	display: flex;
	flex-direction: column;
	width: 35%;
	height: 17%;
	margin: 5% auto 0% auto;
	gap: 5px;
	align-items: center;
}
.player-name-input {
	outline: none;
	border: 2px solid white;
	border-radius: 10px;
	padding: 1%;
	width: 100%;
}
#submit-button {
	outline: none;
	border: 2px solid white;
	border-radius: 10px;
	width: 50%;
	height: 15%;
}

#name-container {
	display: flex;
	flex-direction: column;
	margin: 5% auto 5% auto;
	height: 20%;
}
.player-names {
	margin: 3% auto 3% auto;
	border: 2px solid rgb(90, 90, 90);
	border-radius: 50px;
	width: 90%;
	height: 30%;
	padding: 1% 1% 1% 1%;
	font-size: xx-large;
	text-align: center;
}
#end-round {
	/*  */
}
#confirm {
	/*  */
}

#right-box {
	height: 100%;
	width: 70%;
	border: 1px solid hotpink;
	border-bottom: none;
}

#top-bar {
	/*  */
}
#player-1-score {
	/*  */
}
#player-2-score {
	/*  */
}

#turn-box {
	/*  */
}
