* {
	background-color: transparent;
}
html,
body {
	background-color: rgb(15, 15, 15);
	width: 100%;
	height: 100%;
	margin: 0%;
}

body {
	display: flex;
	flex-direction: row;
}

#left-bar {
	height: 95%;
	width: 29%;
	border: 1px solid hotpink;
	margin: 1%;
	align-self: center;
	background-color: rgb(30, 30, 30);
	border: 1px solid rgb(40, 40, 40);
	border-radius: 50px;
	transition: all 200ms ease-in-out;
}
#left-bar:hover {
	border: 1px solid rgb(70, 70, 70);
	background-color: rgb(40, 40, 40);
	box-shadow: 10px 10px 10px 10px black;
	border-radius: 60px;
}

#name-input-form {
	display: flex;
	flex-direction: column;
	width: 35%;
	height: 17%;
	margin: 5% auto 0% auto;
	gap: 5px;
	align-items: center;
}
.player-name-input {
	outline: none;
	border: 2px solid rgb(90, 90, 90);
	border-radius: 10px;
	padding: 1.5% 5% 1.5% 5%;
	width: 100%;
}
#submit-button {
	outline: none;
	border: 2px solid rgb(90, 90, 90);
	border-radius: 10px;
	width: 50%;
	height: 15%;
	cursor: pointer;
}

#name-container {
	display: flex;
	flex-direction: column;
	margin: 5% auto 3% auto;
	height: 20%;
}
.player-names {
	margin: 3% auto 3% auto;
	border: 2px solid rgb(90, 90, 90);
	border-radius: 50px;
	width: 90%;
	height: 30%;
	padding: 1% 1% 1% 1%;
	font-size: xx-large;
	text-align: center;
}

#button-container {
	margin: 0% auto 0% auto;
	display: flex;
	flex-direction: column;
	height: 50%;
	width: 100%;
}
.left-bar-buttons {
	margin: auto auto auto auto;
	cursor: pointer;
	border: 2px solid rgb(90 90 90);
	border-radius: 75px;
	width: 75%;
	height: 40%;
	font-size: 50px;
	transition: all 50ms ease-in-out;
}
.left-bar-buttons:hover {
	border: 4px solid rgb(90, 90, 90);
	border-radius: 100px;
	box-shadow: 5px 5px 5px 5px black;
}
.left-bar-buttons:active {
	box-shadow: 10px 10px 10px 10px black;
}

#right-box {
	height: 95%;
	width: 65%;
	margin: auto auto 1% auto;
	border: 2px dashed rgb(35, 35, 35);
	border-radius: 50px;
}

#top-bar {
	/*  */
}
#player-1-score {
	/*  */
}
#player-2-score {
	/*  */
}

#turn-box {
	/*  */
}
