.tprnt {
	background-color: transparent;
}
/*  */
html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
}
body {
	display: flex;
	flex-direction: row;
}
/*  */
.input-menu {
	display: flex;
	flex-direction: column;
	background-color: rgb(20, 20, 20);
	width: 24%;
	height: 97%;
	margin: auto 0% auto 1%;
	box-shadow: 0px 1px 5px 5px black;
	transition: all 50ms ease-in-out;
}
.input-menu:hover {
	box-shadow: 5px 1px 10px 10px black;
}
/*  */
.alert-menu {
	width: 80%;
	height: 35%;
	border: 2px solid rgb(25, 25, 25);
	border-radius: 20px;
	margin: 5% auto auto auto;
	background-color: rgb(16, 16, 16);
	transition: all 200ms ease-in-out;
	display: flex;
	flex-direction: column;
}
.alert-menu:hover {
	position: relative;
	box-shadow: 1px 1px 1px 1px black;
}
.alert-info-box {
	width: 100%;
	height: 20%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background-color: rgb(40, 40, 40);
	border-bottom: 2px solid rgb(25, 25, 25);
	display: flex;
}
.alert-info-box-text {
	margin: auto auto auto 10%;
	background-color: transparent;
}
.alert-info-box-icon {
	margin: auto 10% auto auto;
	background-color: rgb(25, 25, 25);
	width: 5%;
	aspect-ratio: 1/1;
	clip-path: circle();
}
.alert-info-box-icon-warning {
	background-color: red;
}
.alert-menu-container {
	height: 90%;
	width: 90%;
	margin: 5% 5% 5% 5%;
	background-color: transparent;
	overflow: scroll;
	text-align: center;
}
/*  */
form {
	background-color: transparent;
	display: grid;
	grid-template-columns: 20vw;
	grid-template-rows: repeat(6, 1fr);
	min-height: 10px;
	max-height: 50%;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin: 0% auto auto auto;
}
.form-option {
	display: flex;
	flex-direction: column;
	background-color: transparent;
}
.label {
	display: flex;
	margin: auto auto auto auto;
	background-color: transparent;
}
.form-input {
	background-color: transparent;
	width: 100%;
	border: 1px solid white;
	outline: none;
	height: 30px;
	font-size: 20px;
}
.submit-button {
	border: 2px solid rgb(62, 166, 255);
	border-radius: 20px;
	width: 50%;
	aspect-ratio: 2/1;
	cursor: pointer;
	margin: auto auto auto auto;
	font-size: 35px;
}

/*  */
.books-list {
	padding: 10px;
	height: 97%;
	width: 75%;
	margin: auto 1% auto 1%;
	border: 2px dashed rgb(25, 25, 25);
	border-radius: 25px;
}
.books-list:hover {
	border: 2px solid rgb(25, 25, 25);
}
