html,
body {
	width: 90%;
	height: 90%;
	margin: auto;
}
.container {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 30%;
	aspect-ratio: 1/1.1;
	border: 1px solid white;
	padding: 5px;
}
.display {
	border: 1px solid white;
	background: hotpink;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	width: 100%;
	height: 30%;
}
.grid {
	display: flex;
	flex-direction: row;
}
.grid-token {
	border: 1px solid white;
	flex-wrap: wrap;
	width: 25%;
	aspect-ratio: 2/1;
	padding: 5px;
}
