html,
body {
	width: 100%;
	height: 100%;
	margin: auto;
}
.container {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 30%;
	aspect-ratio: 1/1.1;
	border: 1px solid white;
	padding: 5px;
}
.display {
	border: 1px solid white;
	background: hotpink;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	width: 100%;
	height: 30%;
}
.grid {
	display: flex;
	flex-direction: column;
}
.element-box {
	display: flex;
	border: 1px solid pink;
	width: 100%;
	height: 20%;
}
.grid-token {
	margin: auto;
	border: 1px solid white;
	padding: 5px;
	width: 22%;
	aspect-ratio: 1.5/1;
}
.grid-token-1 {
	background: blue;
}
.grid-token-2 {
	background: cyan;
}
.grid-token-3 {
	background: darkblue;
}
.grid-token-4 {
	background: lightblue;
}
.grid-token-manual {
	background: darkred;
}
.zero {
}
