body,
html {
	width: 100vw;
	height: 100vh;
}

.container-alpha {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
.container {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.block-container {
	/*TBD*/
}
.block {
	aspect-ratio: 1/1;
	border-left: 1px solid white;
	border-top: 1px solid white;
	font-size: var(--dynamic-font-size);
}
.block-right {
	border-right: 1px solid white;
}
.block-bottom {
	border-bottom: 1px solid white;
}
.block:hover {
	background-color: white;
}
