/* needs to be centered
 */

body,
html {
	width: 100%;
	height: 100%;
}

.container-alpha {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}
.container {
	width: 50%;
	height: 100%;
	/* margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid cyan;
	flex-wrap: wrap; */
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.block-left {
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	aspect-ratio: 1/1;
	border: 1px solid white;
}
/* .block-far-left {
	margin-left: auto;
	width: 20%;
	aspect-ratio: 1/1;
	border: 1px solid white;
} */
/* .block-right {
	width: 20%;
	aspect-ratio: 1/1;
	border: 1px solid white;
} */
/* .block-far-right {
	margin-right: auto;
	width: 20%;
	aspect-ratio: 1/1;
	border: 1px solid white;
} */
